#texto_index{
    font-size: 2rem;
    background-image: linear-gradient(to right,#ffba08, #c47002);
    color: transparent;
    -webkit-background-clip: text;
}

#p_index{
    padding:1rem;
    font-size: 2rem;
    background-image: linear-gradient(to right,#ffba08, #fbb14f);
    color: transparent;
    -webkit-background-clip: text;
}
footer nav img{
    height: 3rem;
   
    
}



@media screen and (min-width: 768px) {
    #texto_index{
        font-size: 3rem;
               
    }  
    #p_index{
        font-size: 1rem;
    }          
    
    #com_tec{ 
        margin-left: 5.2em;
        margin-right: 5.2em;
    }
    #com_app{
        margin-left: 4.5em;
        margin-right: 4.5em;
    }
    
    #com_app1{
        margin-left: 5em;
        margin-right: 5em;
    }
    #com_com{
        margin-left: 4em;
        margin-right: 4em;
    }
    #com_com1{
        margin-left: 2em;
        margin-right: 2em;}
    }